<!DOCTYPE html>
<html lang="ar">
<head>
<meta charset="UTF-8">
<title>استمارة التلميذ</title>
</head>

<body>

<h2>إدخال معلومات التلميذ</h2>

<form method="post">

اللقب:<br>
<input name="last_name" required><br><br>

الاسم:<br>
<input name="first_name" required><br><br>

القسم:<br>
<input name="class" required><br><br>

الفوج:<br>
<input name="group" required><br><br>

الهاتف:<br>
<input name="phone"><br><br>

ملاحظة:<br>
<input name="note"><br><br>

<button type="submit">إرسال</button>

</form>

</body>
</html>